@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Lilita+One&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Zilla+Slab:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');
/*
fonts: Lilita One, Fredoka, Pacifico, Lobster
Bitter, Zilla Slab, Enriqueta
*/
:root{
    --bg-accent: hsl(95, 31%, 40%);
    --bg-dark: hsl(22, 69%, 55%);
    --bg-light: hsl(31, 73%, 62%);
    --off-white: hsl(37, 33%, 92%);
    --black: hsl(0,0%,0%);
}
body{
    background: linear-gradient(135deg, var(--bg-light) 0%, var(--bg-dark) 100%);
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-accent);
    transition: background-color .5s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.nav-left a {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
    font-size: 32px;
}

.nav-right {
    display: flex;
}

.nav-right a {
    text-decoration: none;
    color: var(--off-white);
    font-size: 18px;
    margin-left: 30px;
}

/* Mobile configs. The hamburger menu*/
@media (max-width: 849px) {
    #hamburger_contents.active{
        display: block;
        color: var(--black);
        font-family: 'Lilita One', sans-serif;
        font-weight: 400;
        font-size: 5px;
    }

    #hamburger{
        display: none;
        cursor: pointer;
    }

    #close{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 850px) {

    #hamburger_contents.active{
        display: block;
        color: var(--black);
        font-family: 'Lilita One', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    #hamburger{
        display: none;
        cursor: pointer;
    }

    #close{
        display: block;
        cursor: pointer;
    }
}

main{
    margin-top: 60px;
}

main h1{
    font-family: 'Lobster', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}