@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Lilita+One&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Zilla+Slab:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');
/*
fonts: Lilita One, Fredoka, Pacifico, Lobster
Bitter, Zilla Slab, Enriqueta
*/
:root{
    font-size: 16px;
    --bg-accent: hsl(95, 31%, 40%);
    --dark-accent: hsl(96, 31%, 17%);
    --bg-dark: hsl(22, 69%, 55%);
    --bg-light: hsl(31, 73%, 62%);
    --off-white: hsl(37, 33%, 92%);
    --brown: hsl(31, 45%, 48%);
    --black: hsl(0,0%,0%);
    --highlight: hsl(67, 89%, 60%);
}
body{
    background: linear-gradient(135deg, var(--bg-light) 0%, var(--bg-dark) 100%);
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.nav-left a {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
    font-size: 32px;
}

#hamburger_contents{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    list-style-type: none;
    display: none;
    position: fixed;
    padding: 0;
    top: 0rem;
    right: 0rem;
    background-color: var(--bg-accent);
    border-bottom-left-radius: 1rem;
    
}

#hamburger_contents li{
    display: block;
    margin: .5rem 2rem;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#hamburger_contents li a{
    text-decoration: none;
    color: var(--black);
    padding: 1rem 2rem;
}

#hamburger_contents li a:hover{
    background-color: var(--highlight);
    border-radius: 1rem;
}
/* Mobile configs. The hamburger menu*/
@media (max-width: 849px) {
    #hamburger{
        display: block;
        cursor: pointer;
        background-size: cover;
        z-index: 5;
    }

    #close{
        display: none;
        cursor: pointer;
        z-index: 5;
    }

    #About p{
        display: flex;
        flex-direction: column;
    }
}

/* desktop config*/
@media (min-width: 850px) {

    #hamburger_contents.active{
        display: block;
        color: var(--black);
        font-family: 'Lilita One', sans-serif;
        font-weight: 400;
        font-size: 20px;
        z-index: 5;
    }

    #hamburger{
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    #close{
        display: none;
        cursor: pointer;
        z-index: 5;
    }
}

main{
    margin-top: 2rem;
}

main h1{
    font-family: 'Lobster', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headshot{
    width: 30rem;
    height: 25rem;
}
#About p{
    display: flex;
    flex-direction: row-reverse;
}
#Certs p{
    display: flex;
}
#Aplus-image{
    width: 25rem;
    height: 20rem;
}

/* Add this to your CSS file */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(97, 134, 70, 1);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}
